.new-task-card {
    font-family: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px transparent solid;
    border-radius: 8px;
    background-color: white;
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
}

.new-task-card:hover {
    cursor: pointer;
    border-color: black;
}