.new-card {
    font-family: inherit;
    transition: height 1s ease-in-out;
    width: 340px;
    border: none;
    border-radius: 8px;
    padding: 15px 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #457b9d;
}

.new-card .new-card__form {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    gap:10px;
    justify-content: center;
}

.new-card .new-card__input {
    width: 100%;
    height: 100%;
    
}

.new-card__form:first-child {
    color: white;
    font-size: 24px;
    font-weight: 600;
}


.new-card .new-card__submit {
    width: 50%;
    height: 40px;
}


