.time-selector {
    font-family: "Shantell";
    text-align: left;
    width: 120px;
}

.time-selector label {
    display: block;
    font-size: 24px;
}

.time-selector input{
    font-family: "Shantell";
    width: 100%;
    border: 1px solid rgb(182, 180, 180);
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}