@font-face {
    font-family: "Shantell";
    src: local("Shantell"),url("./fonts/ShantellSans[BNCE,INFM,SPAC,ital,wght].woff2");
}

.App {
    position: relative;
    text-align: center;
    background-image: url('./images/prism.png');
    background-attachment: fixed;
    width: 100vw;
    box-sizing: border-box;
   
}

.main-container {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.day-cards {
    font-family: "Shantell";
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 18px;
    padding: 30px;
    width: 80%;
    border-radius: 20px;
    box-sizing: border-box;
}