.banner {
    display: flex;
}

.banner__logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:0px;
    left: 4%;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.banner__logo img {
    margin: auto;
    height: 80px;
    width: 90px;
}

.banner__title {
    position: relative;
    display: flex;
    width: 85%;
    height: 100%;
    left: 15%;
    align-items: center;
}

.banner__title label {
    font-size: 50px;
    margin: auto;
    text-transform: uppercase;
    color: white;
}